body {
  background: #494949;
  color: #fff; }

#sign-up {
  background: #ec6f66; }

.navbar {
  border-bottom: #ec6f66 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("../img/sunrise.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #ec6f66;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#explore-head-section .display-4 {
  color: #ec6f66; }

#explore-head-section .py-5 a.btn.btn-outline-secondary {
  border: #ec6f66 solid 1px;
  color: #ec6f66; }

#explore-section h3 {
  color: #ec6f66; }

#explore-section .fa {
  color: #fff;
  background: #ec6f66;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
